* {
    margin: 0;
    padding: 0;
    color: #fff;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(220deg, #033f9e, #4c1069, #ff8400, #a3291c, #000000, #ffffff);
    background-size: 300% 300%;
    animation: move-bg 13s linear infinite;
}

@keyframes move-bg {
    0% {
        background-position: 0%, 50%;
    }
    50% {
        background-position: 100%, 50%;
    }
    100% {
        background-position: 0%, 50%;
    }
}

#no {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
